<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashboardLayout.html}">

<head>

</head>

<body>


    <section class="row" layout:fragment="content">
        <div class="col">
            <form th:action="@{/admin/customers/saveOrUpdate}" method="post" th:object="${customer}">
                <div class="card ">

                    <div class="card-body">
                        <h5 th:if="${customer.isEdit}" class="card-title text-center">Cập Nhật Thể Loại</h5>
                        <h5 th:unless="${customer.isEdit}" class="card-title text-center">Thêm người dùng</h5>
                        <div class="form-group">
                            <label for="customerId">Mã người dùng</label>
                            <input type="hidden" name="" th:field="*{isEdit}">
                            <input class="form-control" type="text" aria-describedby="customerHId" th:field="*{customerId}" readonly>
                            <small id="customerHId" class="form-text text-muted">Mã người dùng không hợp lệ</small>
                        </div>
                        <div class="form-group">
                            <label for="name">Tên người dùng</label>
                            <input class="form-control" th:field="*{name}" id="name" type="text" aria-describedby="nameHId">
                            <small th:if="${#fields.hasErrors('name')}" id="nameHId" class="form-text text-muted">Tên thể loại không được để trống</small>
                        </div>
                        <!-- ----------------- -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" th:field="*{email}" id="email" type="text" aria-describedby="emailHId">
                            <small th:if="${#fields.hasErrors('email')}" id="emailHId" class="form-text text-muted">Email Không hợp lệ</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu</label>
                            <input class="form-control" th:field="*{password}" id="password" type="text" aria-describedby="passwordHId">
                            <small th:if="${#fields.hasErrors('password')}" id="passwordHId" class="form-text text-muted">password Không hợp lệ</small>
                        </div>
                        <div class="form-group">
                            <label for="phone">Số điện thoại</label>
                            <input class="form-control" th:field="*{phone}" id="phone" type="text" aria-describedby="phoneHId">
                            <small th:if="${#fields.hasErrors('phone')}" id="phoneHId" class="form-text text-muted">phone Không hợp lệ</small>
                        </div>



                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-primary"> <i class="fa fa-save mr-1"></i>
                                    <span th:if="${customer.isEdit}">Cập Nhật</span>
                                    <span th:unless="${customer.isEdit}">Lưu</span></button>

                        <a th:href="@{/admin/customers/}" class="btn btn-success" href="">DanhSach</a>
                        <button type="reset" class="btn btn-secondary">Làm mới</button>
                    </div>
                </div>
            </form>
        </div>

    </section>






    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

</body>

</html>