<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashboardLayout.html}">

<head>

</head>

<body>


    <section class="row" layout:fragment="content">
        <div class="col">
            <section class="row">
                <div class="col">
                    <form action="/admin/products/saveOrUpdate" method="post" enctype="multipart/form-data" th:object="${product}">
                        <div class="card">
                            <h3 class="text-center" th:text="${product.isEdit?'Chỉnh sửa sản phẩm':'Thêm sản phẩm mới'}">Thêm sản phẩm mới</h3>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-7">
                                        <input type="hidden" th:field="*{isEdit}">
                                        <div class="form-group" th:if="${product.isEdit}">
                                            <label for="productID">Mã sản phẩm</label>
                                            <input type="text" class="form-control" name="productID" id="productID" aria-describedby="productHId" placeholder="Mã sản phẩm" th:field="*{productId}">
                                            <small id="productHId" class="form-text text-muted">Mã sản phẩm không được để trống</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Tên</label>
                                            <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHId" placeholder="Tên sản phẩm" th:field="*{name}">
                                            <small id="nameHId" class="form-text text-muted">Tên sản phẩm không được để trống</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="quatity">Số lượng</label>
                                            <input type="number" class="form-control" name="quatity" id="quatity" aria-describedby="quatityHId" placeholder="Số lượng sản phẩm" th:field="*{quatity}">
                                            <small id="quatityHId" class="form-text text-muted">Số lượng sản phẩm không được để trống</small>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-text">Đơn Giá</span>
                                            <input type="number" name="unitPrice" id="unitPrice" class="form-control" placeholder="Đơn Giá" th:field="*{unitPrice}">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-text">Giảm giá</span>
                                            <input type="number" name="discount" id="discount" class="form-control" placeholder="Giảm Giá" th:field="*{discount}">
                                            <span class=" input-group-text ">%</span>
                                        </div>
                                        <div class="form-group ">
                                            <label for="categoryId">Thể loại</label>
                                            <select class="form-control" name="categoryId" id="categoryId" th:field="*{categoryId}">
                                           <option th:each="item : ${categories}" th:value="${item.categoryId}" th:text="${item.name}"
                                            th:selected="${item.categoryId == product.categoryId}">Category Name</option>
                                    
                                       </select>
                                        </div>

                                    </div>
                                    <div class="col-5 text-center">
                                        <script>
                                            function chooseFile(fileInput) {
                                                if (fileInput.files && fileInput.files[0]) {
                                                    var reader = new FileReader();
                                                    reader.onload = function(e) {
                                                        $('#image').attr('src', e.target.result);
                                                    }
                                                    reader.readAsDataURL(fileInput.files[0]);
                                                }
                                            }
                                        </script>
                                        <img id="image" th:src="${product.image!=null?'/admin/products/images/'+product.image:'/images/noimg.png'} " src="/images/noimg.png " width="60% " class="img-fluid" alt=" ">
                                        <div class="form-file form-file-lg mb-3 ">
                                            <input type="file" onchange="chooseFile(this)" name="imageFile " class="form-file-input " id="productImage">
                                            <label class="form-file-label " for="customFileLg ">
                                        <span class="form-file-text ">Chọn ảnh sản phẩm</span>
                                        <span class="form-file-button ">Browse</span>
                                       
                                         </label>
                                        </div>

                                        <div class="form-group " th:field="*{status} ">
                                            <label for="status ">Trạng thái</label>
                                            <select id="status " class="form-control " name="status ">
                            
                                    <option value="0">Giảm giá</option>
                                <option value="1">Nổi bật</option>
                                <option value="2">Bán chạn nhất</option>
                                <option value="3 ">Hết hàng</option>
                                  </select>
                                        </div>




                                    </div>
                                </div>
                                <div class="row ">

                                    <div class="form-group ">
                                        <label for="description ">Description</label>
                                        <textarea class="form-control " name="description " id="description " rows="5 " th:field="*{description}"></textarea>
                                    </div>
                                </div>
                            </div>



                            <div class="card-footer ">

                                <a th:href="@{/admin/products/add}" class="btn btn-success ">New</a>
                                <button type="button " class="btn btn-primary " th:text="${product.isEdit?'Update':'Save'}">Save</button>
                                <a th:if="${product.isEdit}" th:href="@{'/admin/products/delete/'+ ${product.productId}}" class="btn btn-danger float-right ">Delete</a>

                            </div>
                        </div>
                    </form>
                </div>




            </section>
        </div>

    </section>







</body>

</html>