<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashboardLayout.html}">

<head>

</head>

<body>


    <section class="row" layout:fragment="content">
        <div class="col">
            <div class="card">
                <h3 class="text-center">Danh sách sản phẩm</h3>
                <div th:if="${message != null}" class="alert alert-primary" role="alert">
                    <i>[[${message}]]</i>
                </div>
                <div class="card-body">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col"><input type="checkbox" class="form-check-input" name="" id=""></th>
                                <th scope="col"></th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Số lượng sản phẩm</th>
                                <th scope="col">Giá sản phẩm</th>
                                <th scope="col">Giảm giá</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Thể loại</th>

                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each=" items,iStat: ${products}">
                                <td><input type="checkbox" class="form-check-inline"></td>
                                <td><img th:src="@{'/admin/products/images/'+${items.image}}" width="70px" class="img-fluid" alt=""></td>
                                <td th:text="${items.name}"></td>
                                <td th:text="${items.quantity}"></td>
                                <td th:text="${items.unitPrice}"></td>
                                <td th:text="${items.discount}"></td>
                                <td th:text="${items.status}"></td>
                                <td th:text="${items.category.name}"></td>


                                <td>
                                    <a th:href="@{'/admin/products/view/' + ${items.productId}}" class="btn btn-info p-2 m-1"> <i class="fa fa-info pr-1"></i>Thông tin</a>
                                    <a th:href="@{'/admin/products/edit/' + ${items.productId}}" class="btn btn-primary p-2 m-1"><i class="fa fa-edit pr-1" >Sửa</i>
                                        <a th:data-id="${items.productId}"
                                           th:data-name="${items.name}"
                                           onclick="showConfirmModalDialog(this.getAttribute('data-id') , this.getAttribute('data-name'))"
                                        class="btn btn-danger p-2  m-1"><i class="fa fa-recycle pr-1" >Xóa</i></a>

                                </td>
                            </tr>



                        </tbody>
                    </table>



                    <script>
                        function showConfirmModalDialog(id, name) {
                            $('#productName').text(name);
                            $('#yesOption').attr('href', '/admin/products/delete' + id);
                            $('#conformationId').modal('show');

                        }
                    </script>

                    <!-- Modal -->
                    <div class="modal fade" id="conformationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có muốn xóa <span id="productName"></span>?
                                </div>
                                <div class="modal-footer">
                                    <a id="yesOption" type="button" class="btn btn-secondary" data-dismiss="modal">Đồng ý</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="card-footer">
                    <div class="float-right">
                        <a class="btn btn-outline-primary" th:href="@{/admin/products/add}">Thêm mới sản phẩm</a>

                    </div>
                </div>
            </div>
        </div>




    </section>




</body>

</html>